{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{user.username}} Profile {% endblock %}

{% block body %}
    <div class='content-section'>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h3 class="account-heading">{{ user.username }}</h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            <div class="content-section">
                <fieldset class='border-bottom mb-4'>
                    <legend class="border-bottom mb-4">Update Info</legend>
                    {{ u_form | crispy }}
                    {{ p_form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>

    <style>
        .content-section
        {
            background: #ffffff;
            padding: 10px 20px;
            border: 1px solid #dddddd;
            border-radius: 3px;
            margin-bottom: 20px;
        }
        .account-img {
            height: 120px;
            width: 120px;
            margin-right: 20px;
            margin-bottom: 16px;
        } 
        .account-heading {
            font-size: 2.5rem;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
    </style>
{% endblock %}