{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Sign Up Now {% endblock %}

{% block body %}   
    <form method="POST">
        {% csrf_token %}
        <div class="container-fluid home-main">
            <fieldset class='border-bottom mb-4'>
                <legend class="border-bottom mb-4">Join Today <span class="blinker">?</span></legend>
                {{ Form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
            </form>
            <div class="border-top pt-3">
            <small class="text-muted">Already have an account?<a  class= 'ml-2' href="{% url 'login' %}">Login</a></small>
            </div>
        </div>
    </form>
{% endblock %}