{% extends 'base.html' %}
{% load static %}
{% block title %}Sug Press - About{% endblock %}

{% block body %}
    <div class="container-fluid home-main">
        <h2>About Sug Press <span class="blinker">.</span></h2>
        <p style="font-family: 'Times New Roman', Times, serif;">
            Sug press is an open source WebApp( all code are available on my github repo), with the 
            purpose of aiding student get information around the school and reduce the spread of rumoured
            information that can be going around, so you can say killing 2 birds with one stone ;)
        </p>
        <hr>
        <h2>Why would i use Sug Press <span class="blinker">?</span></h2>
        <p style="font-family: 'Times New Roman', Times, serif;">
            To be honest the reason for creating this is because i got fed up with the rumours going around
            the school and because i noticed that the sug news been passed on whatsapp group and also been posted 
            on whatsapp tv isn't reaching all the student.<br />

            Which the bring questions like why can't we use other platform
            like telegram, whatsapp and the likes, but the answer you question how many times have you opened your telegram
            of recent and would you like to get notifications blowing up you phone making you mute the whatsapp group chat,
            hence the creation of this platform.<br />

            So you can just come at anytime of the day check what is going on, respond(it's your choice) and exit that 
            information is passed well enough. Plus the Sug can create polls so as to better communicate with student on 
            any matter of there choice.
        </p>
        <hr>
        <h2>Who will be in charge of the news <span class="blinker">?</span></h2>
        <p style="font-family: 'Times New Roman', Times, serif;">
            Whatsapp tv's loading <span class="blinker">...</span>
        </p>
    </div>
{% endblock %}